* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
 text-shadow: 5px 10px 5px black;
  animation: mystyles 2s infinite alternate;
  font-family: fantasy;
  animation: myskew 10s;
}
h1:hover{
     box-shadow: 5px 5px 5px yellow;
}
/* Header bar layout */
header {
   background-color: #1c1c1c;
   padding: 20px;
  display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid #333;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  animation: mystyles 2s infinite alternate;

}
/* Gallery layout */
 .gallery {
            display: grid;
            /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
            gap: 20px;
            justify-items: center;
        }




/* Navigation in the center */
nav {
  flex: 1;
  display: flex;
  justify-content: center;

}
/* Navigation list styling */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Navigation list items styling */
nav ul li {
  display: flex;
  gap: 30px;
  color: red;
}

/* Navigation links styling */
nav ul li a {
  text-decoration: wavy;
  color:green;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
  font-family: fantasy;
  animation: mystyles  2s infinite alternate;
  
}
/* Hover effect for navigation links */
nav ul li a:hover {
  background-color: orange;
}

/* Search bar on the right */

    #searchInput {
            padding: 10px;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            width: 250px;
            outline: none;
        }
/* Body styling */
body{
           font-family: Arial, sans-serif;
            background-color: #0e0e0e;
            color: #fff;
            margin: 0;
            padding: 0;

}

/* Styling for game item images */
.b{
            background: #1b1b1b;
            border-radius: 30px;
            overflow: hidden;;
            width: 200px;
            height: 200px;
            text-align: center;
           /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);*/


}
/* Individual game item styling */
.game{
  padding-right: 5px;
  padding-left: 10px;
  margin: 15px;
  background: #1b1b1b;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 150px;
  text-align: center;
}
/* Hover effect for game items */
.game:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}
/* Container for background image */
/*.c{
  background-image: url('games/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  min-height: 100vh;
}*/

